/*全站通用属性*/
* 
{
	margin:0;
	padding:0;
}

body {
	/*点击效果,搭配active使用*/
    -Webkit-tap-highlight-color: rgba(0,0,0,0);
	background: none repeat scroll 0 0 #d9d9d9;
    font: 12px "SimSun";
    margin: 0;
    padding: 0;
}

/*a标签属性*/
a {
	text-decoration: none;
}
a:link {
	color: #666;
	text-decoration: none;
}
a:visited {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #27ae61;
	text-decoration: none;
}
a:active {
	color: #666;
	text-decoration: none;
}
a {
    color: #666;
    text-decoration: none;
}


/*left左侧栏布局*/
.left
{
	background:#e84c3d;
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 9;
	top: 0px;
	left: 0px;
}


/*回到首页区域布局*/
.face-area
{
	height: 260px;
	position: relative;
	width: 260;
}

.face-img
{
	top: 35px;
	left: 65px;
	width: 130px;
	height: 130px;
	position: absolute;
}

.face-name
{
	bottom: 50px;
	color: #fff;
	height: 30px;
    width: 260px;
    text-align: center;
	position: absolute;
	font: 24px/30px "Microsoft Yahei";
}


.face-img img
{
}


/*搜索框布局*/
.search
{
	width: 220px;
	height: 30px;
	position: relative;
	line-height: 30px;
	margin: 0px 20px;
}

.search input[type=text]
{
	width: 174px;
	height: 30px;
	color: #666;
	border-image: #fff;
	background: no-repeat scroll 0 0 #fff;
	border:medium none;
	outline: medium none;
	padding: 0 36px 0 10px;
	border-radius: 15px;
}

.search input[type=submit]
{
	height: 25px;
	background-image: url("images/search_icon.png");
	width: 25px;
	border: medium none;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 3px;
	background-color: #e84c3d;
}

/*导航栏布局*/
.nav
{
	width: 220px;
	position: relative;
	margin: 30px auto 0 auto;
	height: auto;
}

.nav ul
{
	list-style:none;
	width: 220px;
	height: auto;
	position: relative;
}

.nav ul li
{
	width: 220px;
	height: 20px;
	line-height: 20px;
	position: relative;
	text-align: center;
	cursor: pointer;
	color: #fff;
	z-index: 2;
	margin: 15px 0;
}

/*container中间布局*/
.containter
{
	width: auto;
	height: auto;
	margin-left: 340px;
	margin-top: 35px;
}

.article-list
{
	height: auto;
	padding: 0 255px 0 0;
	width: auto;
}

.article {
    overflow: hidden;
}

.article , .comments{
	background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 0 0 35px;
    position: relative;
    width: 100%;
}

.feature-img
{
	height: auto;
	margin: 0;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%
}

.feature-img img {
    border-radius: 5px 5px 0 0;
    filter: none;
    height: auto;
    max-width: 100%;
    transition: all 1.5s ease-in 0s;
    width: 100%;
}

.article > h1, .comments > h1
{
	border-left: 5px solid #e84c3d;
}

.article > h1, .comments > h1
{
	background: none repeat scroll 0 0 #fff;
    color: #000;
    font: 18px/40px "Microsoft Yahei";
    margin: 10px auto;
    overflow: hidden;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content
{
	background: none repeat scroll 0 0 #f4f4f4;
    border-top: 1px solid #dee1e0;
    color: #4d4d4d;
    font: 16px/30px "Microsoft Yahei";
    margin: 0;
    padding: 20px;
    position: relative;
    width: auto;
}

.content p
{
	margin: 0 0 24px;
}

.article-info
{
	border-top: 1px solid #dee1e0;
    color: #bfbfbf;
    height: auto;
    line-height: 50px;
    margin: 0;
    min-height: 50px;
    padding: 0 110px 0 10px;
    position: relative;
    width: auto;
}

.fa-calender:before{
	content: "\f073";
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}


.fa-map-marker:before {
    content: "\f041";
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}


.readmore {
    background: none repeat scroll 0 0 #fb6362;
}
.readmore {
    border-radius: 5px;
    bottom: 5px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff !important;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 100px;
}

/*搜索不到文章时的布局*/
.aside {
    background: url("images/aside_bg.jpg") repeat scroll 0 0 #fff;
    color: #4d4d4d;
    font: 16px/30px "Microsoft Yahei";
    margin: 20px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
}


/*pagenav布局*/
.pagenavi
{
	float: right;
	margin: 10px 0;

}

.page-numbers
{
	margin-bottom: 10px;
}

.pagenavi span .pagenavi a:hover
{
	background: none repeat scroll 0 0 #e84c3d;
}

.pagenavi span, .pagenavi a:hover {
    color: #fff;
}


.pagenavi span, .pagenavi a:hover {
    background: none repeat scroll 0 0 #e84c3d;
}
.pagenavi span, .pagenavi a:hover {
    color: #fff;
}
.pagenavi a, .pagenavi span {
    border-radius: 5px;
    display: block;
    float: left;
    line-height: 20px;
    margin-right: 10px;
    padding: 10px;
}

.clear {
    clear: both;
}


/*comment评论区样式*/
.comments
{
	padding: 10px 0 0;
}

.comments > h1 {
    margin: 0 auto 10px;
}

.article .summary, .article .content, .comments .content {
    background: none repeat scroll 0 0 #f4f4f4;
    border-top: 1px solid #dee1e0;
    color: #4d4d4d;
    font: 16px/30px "Microsoft Yahei";
    margin: 0;
    padding: 20px;
    position: relative;
    width: auto;
}

.commentpost
{
    background: none repeat scroll 0 0 #f4f4f4;
    border-top: 1px solid #dee1e0;
    color: #4d4d4d;
    font: 16px/30px "Microsoft Yahei";
    margin: 0;
    padding: 20px;
    position: relative;
    width: auto;
}

.ds-login-buttons p {
    float: left;
    line-height: 24px;
    margin: 0;
}

.ds-textarea-wrapper {
	margin-top: 10px;
    overflow: hidden;
    padding-right: 20px;
    position: relative;
}

.ds-textarea-wrapper .ds-rounded-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.text
{
	position: relative;
	box-shadow: none;
    color: #999;
    height: 54px;
    margin: 0 0 10px;
    overflow: auto;
    resize: none;
    width: 100%;
    padding: 10px 0 0 15px;
    border-radius: 5px;
}

.ds-reset
{
	color: #333;
    font-size: 13px;
    font-size-adjust: none;
    font-weight: normal;
    line-height: 1;
    text-align: left;
}

.ds-reset h1
{
	font: 16px/30px "Microsoft Yahei";
    line-height: 24px;
    margin: 0;
}

.ds-login-buttons
{
    padding: 10px 0 6px;
    position: relative;
    width: 100%;
}

.button
{
color: #FFFFFF;
background-color: #ff6f3d;
height: 30px;
width: 100px;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
margin-right: 15px;
border-radius: 3px;
}

.msg
{
	margin: 20px;
	background: none repeat scroll 0 0 #f0f0e3;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
    padding: 15px 15px 12px 32px;
}

.msgimg
{
	float: left;
}
.msgname
{
	font: 12px/18px "Microsoft Yahei";
}

.msgarticle
{
	font: 16px/30px "Microsoft Yahei";
}

/*sidebar侧栏布局*/
.sidebar {
    float: left;
    height: auto;
    position: absolute;
    right: 15px;
    top: 35px;
    width: 220px;
}

    /*时钟*/

.plugin-myclock {
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}

.clock:after {
    background: none repeat scroll 0 0 #333;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5) inset;
    content: "";
    height: 260px;
    margin: 20px;
    position: absolute;
    width: 260px;
}

.clock:before {
    content: "";
}

.clock {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 -10px 60px rgba(0, 0, 0, 0.2) inset;
    height: 300px;
    left: 50%;
    margin: -150px 0 0 -150px;
    position: absolute;
    top: 50%;
    width: 300px;
    -webkit-transform: translate3d(50px, 50px, 50px);
}


.clock .pivot {
    background: url("pivot.png") repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 16px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 16px;
    z-index: 9999;
}


.clock .hour-hand {
    background: none repeat scroll 0 0 #fff;
    height: 80px;
    left: 50%;
    margin: 0 0 0 -5px;
    top: 70px;
    width: 10px;
    animation: hour_rotate 43200s infinite linear;
    -webkit-animation: hour_rotate 43200s infinite linear;
    -moz-animation: hour_rotate 43200s infinite linear;
    -o-animation: hour_rotate 43200s infinite linear;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}
.clock .clock-hand {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 999;
}


.clock .minute-hand {
    background: none repeat scroll 0 0 #fff;
    height: 110px;
    left: 50%;
    margin: 0 0 0 -4px;
    top: 40px;
    width: 8px;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    animation: min_rotate 3600s infinite linear;
    -webkit-animation: min_rotate 3600s infinite linear;
    -moz-animation: min_rotate 3600s infinite linear;
    -o-animation: min_rotate 3600s infinite linear;
}


.clock .second-hand {
    background: none repeat scroll 0 0 #f00;
    height: 130px;
    left: 50%;
    margin: 0 0 0 -3px;
    top: 40px;
    width: 6px;
    transform-origin: 50% 110px;
    -webkit-transform-origin: 50% 110px;
    -moz-transform-origin: 50% 110px;
    -o-transform-origin: 50% 110px;
    animation: sec_rotate 60s infinite linear;
    -webkit-animation: sec_rotate 60s infinite linear;
    -moz-animation: sec_rotate 60s infinite linear;
    -o-animation: sec_rotate 60s infinite linear;
}


.clock .digit {
    color: #fff;
    font: 20px/20px Arial,Helvetica,sans-serif;
    height: 20px;
    left: 140px;
    position: absolute;
    text-align: center;
    top: 140px;
    white-space: pre;
    width: 20px;
    z-index: 998;
}

/*主题下载*/
.sidebox {
    width: 220px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    background: #fff;
    font-family: "Microsoft Yahei";
}


.fa-caret-down:before {
    content: "\f0d7";
}
.sidebox .fa {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 20px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}


.sidebox h2 {
    background: none repeat scroll 0 0 #404a58;
    color: #fff;
    cursor: pointer;
    font: 16px/40px "Microsoft Yahei";
    padding: 5px 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}


.sidebox > div {
    padding: 10px;
}


.sidebar a:link {
    color: #666;
}


img {
    border: medium none;
}


.tagcloud a {
    background-color: #f5f5f5;
    color: #888 !important;
    display: inline-block !important;
    font-family: inherit;
    list-style: outside none none;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
    
}

/*标签样式*/
.tagcloud li{
    list-style-type: none;
    display:inline; 
}



/*最新发表*/
.sidebox ul {
    list-style: outside none none;
    padding: 10px;
    width: auto;
}


.sidebox ul li {
    border-bottom: 1px dashed #e1e1e1;
    font-size: 14px;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/*最新评论*/

.widget-latest-comment li {
    border-bottom: 1px dashed #e1e1e1;
    font-size: 14px;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    list-style-type: none;
}

.sidebox li a{
    margin-left: 5px;
}

/*友情链接*/
.widget-nav-menu li a {
    background-color: #f5f5f5;
    color: #888 !important;
    display: block !important;
    float: left;
    height: 100%;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: auto;
}

.widget-nav-menu li
{
    list-style-type: none;
    display:inline; 
}



/*尾部foot布局*/
.footer {
    color: #999;
    font: 14px/30px Arial,Helvetica,sans-serif;
    margin: 5px 20px 10px;
    text-align: center;
}
